.action-button {
    -fx-padding: 10 20;
    -fx-background-radius: 15;
    -fx-background-color:
        rgba(255, 255, 255, 0.25),
        linear-gradient(to bottom right, #8b8a87, #868882);
    -fx-background-insets: 0, 1;

    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.4, 0, 3);

    -fx-border-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 2;

    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}
.action-button:hover {
    -fx-background-color:
        linear-gradient(to bottom right, #b8b2b9, #9da7bb);
    -fx-effect: dropshadow(gaussian, rgba(130, 139, 245,0.3), 10, 0.3, 0, 3);
}
.action-button:pressed {
    -fx-background-color:
        rgba(255, 255, 255, 0.18),
        linear-gradient(to bottom right, #ffffff33, #cccccc22);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.3, 0, 2);
    -fx-translate-y: 1;
}

.adjustAdd-button {
    -fx-padding: 10 20;
    -fx-background-radius: 15;
    -fx-background-color:
            rgba(255, 255, 255, 0.25),
            linear-gradient(to bottom right, #36c236, #97e01e);
    -fx-background-insets: 0, 1;

    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.4, 0, 3);

    -fx-border-radius: 15;
    -fx-border-color: rgba(19, 19, 19, 0.5);
    -fx-border-width: 2;

    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}
.adjustAdd-button:hover {
    -fx-background-color:
            linear-gradient(to bottom right, #5ccc58, #afdb67);
    -fx-effect: dropshadow(gaussian, rgba(28, 56, 26, 0.3), 10, 0.3, 0, 3);
}
.adjustAdd-button:pressed {
    -fx-background-color:
            rgba(255, 255, 255, 0.18),
            linear-gradient(to bottom right, #ffffff33, #cccccc22);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.3, 0, 2);
    -fx-translate-y: 1;
}

.adjustSubtract-button {
    -fx-padding: 10 20;
    -fx-background-radius: 15;
    -fx-background-color:
            rgba(255, 255, 255, 0.25),
            linear-gradient(to bottom right, #d81b1b, #e2541c);
    -fx-background-insets: 0, 1;

    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.4, 0, 3);

    -fx-border-radius: 15;
    -fx-border-color: rgba(19, 19, 19, 0.5);
    -fx-border-width: 2;

    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}
.adjustSubtract-button:hover {
    -fx-background-color:
            linear-gradient(to bottom right, #f75959, #ec6e48);
    -fx-effect: dropshadow(gaussian, rgba(28, 56, 26, 0.3), 10, 0.3, 0, 3);
}
.adjustSubtract-button:pressed {
    -fx-background-color:
            rgba(255, 255, 255, 0.18),
            linear-gradient(to bottom right, #ffffff33, #cccccc22);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.3, 0, 2);
    -fx-translate-y: 1;
}


.close-button {
    -fx-padding: 4 12;
    -fx-background-radius: 15;
    -fx-background-color:
        rgba(255, 255, 255, 0.25),
        linear-gradient(to bottom right, #f54e4e, #f71e1e);
    -fx-background-insets: 0, 1;

    -fx-text-fill: #f0f0f0;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.4, 0, 3);

    -fx-border-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-width: 2;

    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}
.close-button:hover {
    -fx-background-color:
        linear-gradient(to bottom right, #f87e7e, #ff7878);
    -fx-effect: dropshadow(gaussian, rgba(130, 139, 245,0.3), 10, 0.3, 0, 3);
}
.close-button:pressed {
    -fx-background-color:
        rgba(255, 255, 255, 0.18),
        linear-gradient(to bottom right, #ffffff33, #cccccc22);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.3, 0, 2);
    -fx-translate-y: 1;
}


.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 8 16;
    -fx-cursor: hand;

    -fx-text-fill: #f0f0f0;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 40px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.4, 0, 3);
    -fx-effect: null;
}

.menu-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 20, 0.2, 0, 4);
}

.menu-button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.50), 10, 0.3, 0, 2);
}



